.App {
  width: 500px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
}
.header-username {
  margin: 0;
}
.symbol-dot {
  font-size: 2rem;
  color: #1273ea;
  margin-top: 110px;
}
.username {
  position: absolute;
  font-size: 1.2rem;
  margin-left: 1rem;
  top: 35%;
  color: #151a30;
}
.symbol-user {
  margin-top: 10px;
}
.banner {
  background: linear-gradient(256.28deg, #1c94f4 0%, #1273ea 100%);
  box-shadow: 0px 12px 20px -4px #c5cee0;
  border-radius: 16px;
  padding: 1rem 2rem;
  padding-bottom: 2rem;
  position: relative;
}
.actions {
  width: 300px;
  margin: 3rem auto;
  margin-bottom: 1rem;
}
.button {
  cursor: pointer;
  width: 33%;
  border: none;
  background-color: #f7f9fc;
}
.container {
  margin: 2rem 1rem;
}
.item {
  margin-left: 1.5rem;
}
.currency {
  font-weight: 600;
  color: #151a30;
  font-size: 1.3rem;
}
.vnd {
  color: #8f9bb3;
}
a {
  color: #111;
  text-decoration: none;
}
